<template>
  <div class="container">
    <h1 class="title">Study scrollTrigger</h1>
    <nuxt-link to="/">single</nuxt-link>
    <nuxt-link to="/multi">multi</nuxt-link>
    <h2 class="subTitle">↓ scroll down</h2>
    <div class="wrapper">
      <div class="scrollItem a"></div>
      <div class="scrollItem b"></div>
    </div>
  </div>
</template>

<script>
import { gsap } from 'gsap'
import { ScrollTrigger } from 'gsap/ScrollTrigger'

// クライアントサイドでプラグインを登録しておく
if (process.client) {
  gsap.registerPlugin(ScrollTrigger)
}

export default {
  mounted() {
    this.scrollItemA()
    this.scrollItemB()
  },
  methods: {
    scrollItemA() {
      gsap.to('.a', {
        x: 500,
        duration: 1,
        scrollTrigger: {
          trigger: '.a',
          start: 'center center',
          markers: true
        }
      })
    },
    scrollItemB() {
      gsap.to('.b', {
        x: 600,
        rotation: 360,
        duration: 1,
        scrollTrigger: {
          trigger: '.b',
          start: 'top center',
          end: 'top 300px',
          scrub: true,
          markers: true
        }
      })
    },
  }
}
</script>

<style scoped>
.container {
  padding: 20px;
}

.title {
  font-size: 42px;
  margin-bottom: 10px;
}

.subTitle {
  margin-top: 30px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 3000px;
}

.scrollItem {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #000000;
}

.scrollItem.a {
  top: 500px;
}

.scrollItem.b {
  top: 1000px;
}
</style>
