<template>
  <div class="container">
    <h1 class="title">Study scrollTrigger</h1>
    <nuxt-link to="/">single</nuxt-link>
    <nuxt-link to="/multi">multi</nuxt-link>
    <h2 class="subTitle">↓ scroll down</h2>
    <div class="wrapper">
      <div class="scrollItem a">👆</div>
    </div>
  </div>
</template>

<script>
import { gsap } from 'gsap'
import { ScrollTrigger } from 'gsap/ScrollTrigger'

// クライアントサイドでプラグインを登録しておく
if (process.client) {
  gsap.registerPlugin(ScrollTrigger)
}

export default {
  mounted() {
    this.scrollItemC()
  },
  methods: {
    scrollItemC() {
      const tl = gsap.timeline({
      scrollTrigger: {
        trigger: ".wrapper",

        // スクローラの中央の位置が起点(center)
        // トリガー要素.wrpperの中央に来たら発火(50%)
        start: "center 50%",

        // スクローラの頂点が上から15%の位置(15%)
        // トリガー要素.wrpperの中央に来たら終了(center)
        end: "center 25%",
        scrub: true,
        markers: true
      }
    });
    tl.to(".a", {y: 200, scale: 2})
    tl.to(".a", {x: 200, scale: 3})
    tl.to(".a", {rotation: 360, y: 400, scale: 4})
    tl.to(".a", {rotation: 90, x: 1000, y: 800, scale: 5})
    }
  }
}
</script>

<style scoped>
.container {
  padding: 20px;
}

.title {
  font-size: 42px;
  margin-bottom: 10px;
}

.subTitle {
  margin-top: 30px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 1500px;
  background: #eeeeee;
}

.scrollItem {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #000000;
}

.scrollItem.a {
  top: 300px;
  font-size: 50px;
  text-align: center;
  line-height: 80px;
}
</style>
